@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Luckiest+Guy&family=Permanent+Marker&family=Russo+One&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

body {
    /* background: #E5E5E5; */
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

/* .container {
    padding: 0 20px 0 60px;
    flex: 1;
} */

.main__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 3px solid rgb(138, 23, 23); */
}

.self.main__wrapper {
    width: 100%;
}

.main__wrapper div {
    /* border: 3px solid rgb(138, 23, 23); */
    box-sizing: border-box;
    padding: 4px;
    margin: 4px;
    min-height: 40px;
}

.main__header__container {
    padding: 0 20px 0 60px;
    flex: 1;
}

.self.content__container {
    width: 95%;
    margin: 0 auto;
}

/*===============================================================Intro */

.container {
    margin-top: -10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/IMG/051-4.jpg") center no-repeat;
    background-size: cover;
    min-height: 820px;
    position: relative;
}

.intro__inner {
    text-align: center;
}

.intro__title {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKeNUoeb1oXHsx5txRQGPSBNz6RZZTQQmL4FtECoHVoCNO7cp0Ayl8Mqp9-bLIBbchrSc&usqp=CAU);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:hover {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(https://janeiredale.store/image/catalog/blog/znachenie-krasnogo-tsveta/znachenie-krasnogo-tsveta-6.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back1 20s linear infinite;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    transition: 4s;
}

@keyframes back1 {
    100% {
        background-position: 2000px 0;
    }
}


@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    text-align: center;
}

/*=============================================================== Header */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;

    background-color: #eb8b8d;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #d4c7c7;
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
    margin-top: -5px;
    font-size: 60px;
}

.main__nav__container .studio_furni p {
    color: #e0d1d1;
}

.main__nav__container .studio_furni {
    font-weight: 600;
    font-family: 'Bruno Ace SC', cursive;
    margin-right: 20px;
}

/* ===============================================================================================*/
.main__nav__container .cs-select {
    color: white;
    font-weight: 600;
    background: transparent;
    font-family: 'Luckiest Guy', cursive;
    display: block;
}

.main__nav__container .cs-select option {
    color: #000;
}

.main__nav__container .street {
    position: relative;
}

.main__nav__container .street i {
    position: absolute;
    top: 30px;
    right: 110px;
}

.main__nav__container .street {
    margin-right: 0px;
}


/* ===============================================================================================*/

.main__nav__container .person {
    display: flex;
    position: relative;
}

.main__nav__container .person img {
    height: 80px;
    border-radius: 40px;
    margin-right: 180px;
}

.main__nav__container .person p {
    position: absolute;
    left: 100px;
    top: 35px;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
}

.main__nav__container .person p:hover {
    color: #fce38a;
}

/*=============================================================== Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #7e7a81;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    transform: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;


    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1 linear;
    /* opacity  */
}


.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover::after,
.nav__link.active::after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/*=============================================================== nav-toggle */

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item::before {
    top: -8px;
}

.nav-toggle__item::after {
    bottom: -8px;
}


.nav-toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav-toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

/*=============================================================== Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 15px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
    /* background */
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/*=============================================================== Silder */

.silder {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.silder__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7s;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.silder__item.active {
    opacity: 1;
}

.silder__item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* ======================================== FREE ================================== */

.self.main__free__container {
    margin: 0;
    padding: 200px 0 100px 0;
}

.main__free__container {
    background: #151515;
}

.cards__free {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card__free {
    display: flex;
    background: #af7955;
    width: 500px;
    height: 250px;
    border: 8px solid #42220c;
    border-radius: 15px;
    filter: drop-shadow(0 0 10px #42220c) drop-shadow(0 0 10px #fd7015);
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.card__free img {
    width: 65%;
}

.card__free:nth-child(1) {}

.card__free:nth-child(2) {
    margin-left: 80px;
    margin-right: 80px;
}

.card__free .cena__free {
    position: relative;
    font-size: 20px;
    font-family: 'Bruno Ace SC', cursive;
    margin: 0 0 40px 30px;
}

.card__free .cena__free::before {
    border-bottom: 3px solid rgb(117, 63, 63);
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    transform: rotate(-7deg);
}

.card__free .cena {
    position: absolute;
    font-size: 35px;
    right: 15px;
    top: 85px;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
}

.card__free:hover img {
    transform: scale(.9);
}

.card__free:hover span {
    transform: scale(1.2);
    color: #af4804;
    transition: 0.6s
}

.main__free__container .ckidki h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 100px #fd7015);
    font-family: 'Luckiest Guy', cursive;
}

/* ================================== CARDS================================== */

.main__card__container .ckidki h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 200px;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 100px #fd7015);
    font-family: 'Luckiest Guy', cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800;900&display=swap");

.self.main__card__container {
    margin: 0;
    padding: 200px 0 200px 0;
}


.main__card__container {
    background: #151515;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover {
    width: 600px;
    transition-delay: 0.5s;
}

.card:nth-child(1) {}

.card:nth-child(2) {
    margin-left: 200px;
    margin-right: 200px;
}

.card:nth-child(3) {}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before {
    content: "";
    position: absolute;
    top: 30;
    left: 2;
    right: 2;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: #191919;
    border: 8px solid #fd7015;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.card:hover .circle::before {
    transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #fd7015;
}

.card .circle .logo {
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}

.card .product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}

.card:hover .product_img {
    transition-delay: 0.75s;
    top: 47%;
    left: 82%;
    height: 320px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
}

.card .content {
    position: absolute;
    width: 60%;
    left: 10%;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 3px;
    margin-top: 15px;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
}

.card .content p {
    color: #fff;
}

.card .content a {
    position: relative;
    color: #fff;
    background: #222222;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
}

/* ====================================== CARD______________TWO ======================== */

.cards__two {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cards__two .card {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.cards__two .card:hover {
    width: 600px;
    transition-delay: 0.5s;
}

.cards__two .card:nth-child(1) {}

.cards__two .card:nth-child(2) {
    margin-left: 200px;
    margin-right: 200px;
}

.cards__two .card:nth-child(3) {}

.cards__two .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__two .card .circle::before {
    content: "";
    position: absolute;
    top: 30;
    left: 2;
    right: 2;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: #191919;
    border: 8px solid #fd7015;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.cards__two .card:hover .circle::before {
    transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #fd7015;
}

.cards__two .card .circle .logo {
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.cards__two .card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}

.cards__two .card .product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}

.cards__two .card:hover .product_img {
    transition-delay: 0.75s;
    top: 47%;
    left: 82%;
    height: 250px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
}

.cards__two .card .content {
    position: absolute;
    width: 60%;
    left: 10%;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.cards__two .card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 3px;
    margin-top: 15px;
}

.cards__two .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
}

.cards__two .card .content p {
    color: #fff;
}

.cards__two .card .content a {
    position: relative;
    color: #fff;
    background: #222222;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
}

.main__card__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;

}

.main__card__container a button:hover {
    transition-delay: 0.5s;
    width: 15%;
    height: 20%;
    border-radius: 20px;
    background: #fd7015;
    color: #fff;
}

.main__card__container a button {
    padding: 30px 70px 30px 70px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    border-radius: 20%;
    background: #191919;
    border: 8px solid #fd7015;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
    color: #fff;
}

/* ====================================== QUESTIONS ================================== */

.self.main__question__container {
    margin: 0;
}

.main__question__container {
    background: #151515;
}

.faqs {
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
}

.faqs h2 {
    text-align: center;
    color: #fff;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
    margin-bottom: 50px;
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: #fdca21;
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}



.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}

/* ======================================= CONTACT ============================= */
.self.main__contact__container {
    margin: 0;
}

.main__contact__container .section-title {
    text-align: center;
    color: #fff;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
}

.main__contact__container {
    background: #151515;
}

#contact .contact {

    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
    display: flex;
    color: #fff;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
    background: #fd7015;
    color: #fff;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin-right: 35px;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* ======================================== footer ============================ */


.self.footer__started {
    margin: 0;
}

.footer__started {
    background: #232536;
}

.self.footer__header {
    margin-bottom: 50px;
    margin-top: 0px;
}

.footer__header {
    display: flex;
    padding: 20px 0 20px 0;
}

.footer .footer__logo a {
    font-weight: 500;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
    text-decoration: none;
    font-size: 28px;
}

.footer .menu {
    margin-left: auto;
    width: 30%;
}

.footer .menu ul {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.footer .menu ul li a {
    font-weight: 500;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
}




.middle__footer {
    display: flex;
    background: #2E3040;
    width: 100%;

}


.middle__footer .description {
    color: #FFFFFF;
    width: 44%;
    padding: 60px 0 60px 40px;
}

.middle__footer .input {
    margin-left: 90px;
    display: flex;
    align-items: center;
}

.middle__footer .input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #6D6E76;
    background: #2E3040;
    padding: 0 150px 0 30px;
    font-size: 18px;
    color: #fff;
}

.middle__footer .button {
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: 35%;
}

.dop__middle {
    display: flex;
}

.self.footer__footer {
    margin-top: 50px;
}

.footer__footer {
    display: flex;
    font-size: var(--size-Body-1);
    line-height: var(--height-Body-1);
    font-weight: var(--weight-Body-1);
    color: #FFFFFF;
    opacity: 0.7;
    font-family: 'Inter';
    font-style: normal;
}

.footer__footer .text__second {
    margin-top: -16px;
}

.footer .footer__footer .icons {
    margin-left: auto;
    width: 9%;
}

.footer .footer__footer .icons ul {
    display: flex;
    justify-content: space-between;
}

.footer .footer__footer .icons ul li a {
    color: #FFFFFF;
    opacity: 0.7;
}

.middle__footer .button a {
    background: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 18px;
}

.footer .middle__footer .button a:hover {
    background: #e03b3b;
    transition: 1s;
}


.footer .middle__footer .button .butt {
    font-weight: 500;
    font-family: 'Luckiest Guy', cursive;
    color: #080707;
    filter: drop-shadow(0 0 10px #fd7015) drop-shadow(0 0 1000px #fd7015);
}